body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}


/* styles for image on business card */
.avatar {
    width: 150px;
    border-radius: 50%;
}

/* main styles for card */
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fbba72;
    color: #1f2f16;
    border-top: 6px solid #ca5310;
    border-bottom: 6px solid #ca5310;
    border-radius: 25px;;
}




